.App {
  text-align: center;
  
}
.App-header{
  height: 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: larger ;
}
main{
  min-height: 300px;
  width: 400px;
  margin-top: 30px;
  margin-left: 30%;
}

